.capilla{
  width:100%;
}

/* CONTENEDOR */
.capillaBox{
  position:relative;
  overflow:hidden;
}

/* IMAGEN */
.capillaImg{
  width:100%;
  display:block;
  filter:brightness(.6);
}

/* OVERLAY TEXTO */
.capillaOverlay{
  position:absolute;
  inset:0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:flex-end;
  padding:5%;
  color:white;
}

/* TITULO */
.capillaOverlay h2{
  font-size:clamp(30px,5vw,60px);
  margin-bottom:20px;
}

/* TEXTOS */
.capillaTextos{
  max-width:400px;
  display:flex;
  flex-direction:column;
  gap:15px;
  font-size:clamp(14px,1.2vw,18px);
}

.Mapita iframe{
  width:100%;
  height:450px;
}


/* MOBILE */
@media (max-width:768px){

  /* quitar overlay absoluto */
  .capillaOverlay{
    position:static;
    align-items:center;
    text-align:center;
    padding:20px;
    background:black; /* opcional fondo */
  }

  /* contenedor se vuelve vertical */
  .capillaBox{
    display:flex;
    flex-direction:column;
  }

  /* imagen en medio */
  .capillaImg{
    order:2;
  }

  /* titulo arriba */
  .capillaOverlay h2{
    order:1;
  }

  /* textos abajo */
  .capillaTextos{
    order:3;
    max-width:90%;
  }
}