.ContenedorCapilla {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.Capillaimg {
    width: 100%;
    height: auto;
    object-fit: contain;
    filter: brightness(0.6);
}




.Capillavid {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: 3;

    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}


.Capillavid.aparecer {
    opacity: 1;
}

.Capillatitulo{
    position: absolute;
    z-index: 2;
    top: 8%;
    left: 60%;
    color: white;
    font-family: "montserrat";
    font-size: 60px;
}

.Capillatexto{
    position: absolute;
    z-index: 2;
    top: 25%;
    left: 70%;
    color: white;
    font-family: "archivo";
    font-size: 17px;
    width: 350px;
    height: auto;
}

.Capillatexto2{
    position: absolute;
    z-index: 2;
    top: 37%;
    left: 70%;
    color: white;
    font-family: "archivo";
    font-size: 17px;
    width: 350px;
    height: auto;
}

.Capillatexto3{
    position: absolute;
    z-index: 2;
    top: 59%;
    left: 70%;
    color: white;
    font-family: "archivo";
    font-size: 17px;
    width: 350px;
    height: auto;
}