.SobreNosotros{
  background:black;
  color:white;
  padding:80px 20px;
  text-align:center;
  
}

.SobreNosotros h2{
  font-size:40px;
  margin-bottom:40px;
}

.ig{
  margin-right:3px;
  color:#E1306C;
}

.ig-text{
  color:white;
  text-decoration:none;
  transition:.2s;
}

.ig-text:hover{
  color:#E1306C;
}

/* SLIDER */
.slider{
  position:relative;
  overflow:hidden;
  max-width:1100px;
  margin:auto;
}

/* TRACK */
.track{
  display:flex;
  transition: transform .5s cubic-bezier(.77,0,.18,1);
}

/* CARD */
.card{
  min-width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  opacity:.4;
  transform: scale(.9);
  transition:.4s;
}

.card.active{
  opacity:1;
  transform: scale(1);
}

/* IMG */
.card img{
  width:350px;
  height:420px;
  object-fit:cover;
  border-radius:12px;
}

/* TEXT */
.card h3{
  margin-top:20px;
  font-size:22px;
}

.card p{
  opacity:.7;
}



/* BOTONES */
.btn{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  font-size:40px;
  border:none;
  background:none;
  color:white;
  cursor:pointer;
  z-index:2;
  padding:10px;
}

.prev{ left:10px; }
.next{ right:10px; }

/* MOBILE */
@media(max-width:768px){

  .card img{
    width:80vw;
    height:60vh;
  }

  .btn{
    font-size:30px;
  }
}

.layout{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:60px;
  max-width:1300px;
  margin:auto;
  transform: translateX(80px);
}

/* INFO */
.info{
  max-width:400px;
  text-align:left;
  margin-top:-60px; /* mueve todo hacia arriba */
}


.info h2{
  font-size:42px;
  margin-bottom:60px;
}

.info p{
  opacity:.8;

  max-width:400px;
  line-height:1.6;
}



/* SLIDER */
.slider{
  position:relative;
  overflow:hidden;
  width:500px;
  margin-left:auto;
}

/* MOBILE */
@media(max-width:900px){

  .layout{
    flex-direction:column;
    text-align:center;
  }

  .info{
    text-align:center;
  }

  .slider{
    width:100%;
  }
}
