.SobreNosotros{
    background-color: black;
    color: white;
    padding: 50px;

}

.SobreNosotros h3{


    font-family: "montserrat"; 
    font-weight: 700; 
    background-color: black; 
    text-align: center; 
    font-size: 40px;
}



.integrantes{ 
    grid-column-start: 5;
    background-color: black;
    width: 900px;
    margin: auto;
    overflow: hidden;   
    position: relative; 
    color: white;
} 


.track {
    display: flex;
    gap: 40px;
    transition: transform 0.5s ease;
}

.cardintegrante{ 
    background-color: black; 
    font-family: "archivo"; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 500px; 
    height: auto; 
    flex-shrink: 0;   /* CLAVE */
} 
.cardintegrante img{ 
    width: 400px; 
    height: 500px; 
    border-radius: 10px; 
    margin: 30px 0 0 0; 
    object-fit: cover;
} 
.cardintegrante h3{ 
    font-size: 20px; 
    margin: 20px 0 10px 
}

.cardintegrante a{
    text-decoration: none;
    color: white;
    margin-bottom: 20px
}

.cardintegrante i{
    color: #D62976;
}

.btn{
    position: absolute;
    width: 40px;
    height: auto;
    z-index: 4;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 40px;
    color: white;
}

.btn.next{
    left: 95.55%;
    top: 45%;
}

.btn.prev{
    top: 45%;
}


.cardintegrante:not(.active) {
  filter: blur(2px);
  opacity: 0.5;
}

.cardintegrante:not(.active)::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.2),
    rgba(0,0,0,0.6)
  );
}