.IlustracionContenedor{
  position: relative;
  width: 100%;
  height: 120vh;
  overflow: hidden;

}

.Ilustracion{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
}

.ImgIlustracion{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

  clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 85%
  );
}

.ImgIlustracion.arriba{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease;
}

.ImgIlustracion.arriba.visible{
  opacity: 1;
  z-index: 2;
}

/* LOGO CENTRADO RESPONSIVE */

.Logoprincipal{
  position: absolute;
  z-index: 15;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  min-width: 220px;
  max-width: 600px;
}


@media (max-width:768px){


  .Logoprincipal{
      top: 40%;
  }


  .IlustracionContenedor{
    height: 100vh;
  }
}