.Ilustracion {
  position: relative;
  background-color: black;
}

.ImgIlustracion {
  width: 100%;
  display: block;
  clip-path: polygon(
        0 0,       
        100% 0,    
        100% 100%, 
        0 85%
  );

}

.ImgIlustracion.arriba {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease;
}

.ImgIlustracion.arriba.visible {
  opacity: 1;
  z-index: 2;
}

.IlustracionContenedor{
  position: relative;
}

.Logoprincipal{
  position: absolute;
  z-index: 15;
  top: 30%;
  left: 30%;
  width: 600px;
  height: auto;
  display: block;
}