.familia{
  background-color: black;
  color:white;
  padding:80px 20px;
}

/* BLOQUE */
.bloque{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:80px;
  margin-bottom:100px;
  flex-wrap:wrap;
}

/* INVERTIDO */
.bloque.invertido{
  flex-direction:row-reverse;
}

/* TEXTO */
.texto{
  max-width:500px;
}

.texto h2{
  font-size:40px;
  margin-bottom:20px;
}

.texto p{
  line-height:1.6;
  margin-bottom:15px;
}

/* IMAGENES */
.imagenes{
  position:relative;
  width:400px;
}

.imagenes img{
  width:100%;
  border-radius:12px;
  display:block;
}

/* SUPERPUESTA */
.superpuesta{
  position:absolute;
  top:0;
  left:0;
  opacity:.0;
  transition:.6s;
}

/* HOVER */
.imagenes:hover .superpuesta{
  opacity:1;
}

/* MOBILE */
@media(max-width:900px){

  .bloque{
    flex-direction:column;
    text-align:center;
    gap:40px;
  }

  .bloque.invertido{
    flex-direction:column;
  }

  .imagenes{
    width:90%;
  }
}
