.Navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 5%;
    box-sizing: border-box;
    z-index: 20;
}

.LogoNavbar{
    width: 150px;
}

.UlNavbar{
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    display: flex;
    list-style: none;
    gap: 40px;
}

.UlNavbar_elemento a{
    text-decoration: none;
    color: white;
    font-size: clamp(14px,1.2vw,18px);
}

.UlNavbar_elemento a:hover{
    color:#3b82f6;
}

.Hamburguesa{
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    color: white;
    z-index: 30;
}


@media (max-width:768px){

    .Hamburguesa{
        display:flex;
        position:relative;
        z-index:60;
    }

    .UlNavbar{
        position:fixed;
        top:0;
        right:0;
        margin: 0;
        padding: 0;

        width:75%;
        max-width:320px;
        height:100vh;

        flex-direction:column;
        justify-content:center;
        align-items: center;

        background: rgba(0,0,0,0.6);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);

        gap:40px;

        transform:translateX(100%);
        opacity:0;
        pointer-events:none;

        transition: all .4s ease;
        z-index:50;
    }

    .UlNavbar.mostrar{
        transform:translateX(0);
        opacity:1;
        pointer-events:auto;
    }

    .UlNavbar_elemento a{
        font-size: clamp(15px,3vw,32px);
    }
}
